<p><%= notice %> </p>
<h1>トピックス一覧</h1>

<% @topics.each do |topic| %>
  <p>タイトル:<%= topic.title %></p>
  <p>本文:<%= topic.content %></p>
    <%= link_to "トピックスを編集する", edit_topic_path(topic.id) %>
    <p><%= link_to 'トピックスを削除する', topic_path(topic.id), method: :delete, data: { confirm: '本当に削除していいですか？'} %></p>
<% end %>
<br>
<%= link_to "topicを作成する", new_topic_path %>
