<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
    <p><%= notice %></p>
    <h1>トピックス一覧</h1>
      <%= link_to "topicsを作成する", new_topic_path, class: 'btn btn-default' %>
    <% @topics.each do |topic| %>
    <div class="row">
      <h4><strong><%= topic.title %></strong></h4>
      <p>投稿者ID:<%= topic.user.id if topic.user %></p>
      <p>投稿者:<%= topic.user.name if topic.user %></p>
      <p><%= topic.content %></p>
      <%= link_to "編集", edit_topic_path(topic.id), class: 'btn btn-default btn-sm btn-success' %>
      <%= link_to "削除", topic_path(topic.id), method: :delete, data: { confirm: '本当に削除していいですか？'}, class: 'btn btn-default btn-sm btn btn-danger' %>
    </div>
    <% end %>
  </div>
</div>




<div id="page-topic-btn" class="page-topic-btn">
    <p><a class="move-page-top" id="move-page-top">▲</a></p>
</div>
