<div class="container-child col-md-2 col-sm-4 col-xs-6 ">
  <%= link_to user.name, user_path(user)  %>

  <%= profile_img(user) %>

  <% if user != current_user %>
   <li>
    <div class="item">

      <%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post'%>
    </div>
    <%= render partial: 'follow_form', locals: { user: user } if signed_in?   %>
  </li>
  <% else %>
    <%= link_to 'ユーザー編集', edit_user_registration_path, class: 'btn btn-info' %>
  <% end %>
</div>
